<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sebasku.networks">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.DetailGajiActivity" />
        <activity android:name=".activity.EditProfilActivity" />
        <activity android:name=".activity.ProfilPerusahaanActivity" />
        <activity android:name=".activity.PresensiActivity" />
        <activity
            android:name=".activity.MenuActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activity.CutiActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activity.SlipGajiActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name=".activity.ProfileActivity"></activity>
    </application>

</manifest>